outputs/zenodo.json
outputs/datacite.json
.ipynb_checkpoints/main-checkpoint.ipynb
.ipynb_checkpoints/find-posters-checkpoint.ipynb
outputs/.ipynb_checkpoints/zenodo-checkpoint.csv
outputs/.ipynb_checkpoints/datacite-test-checkpoint.json
outputs/records/datacite.json
outputs/records/zenodo.json
.ipynb_checkpoints/metadata-analysis-checkpoint.ipynb
.ipynb_checkpoints/metadata-analysis-checkpoint.ipynb
.ipynb_checkpoints/metadata-analysis-checkpoint.ipynb
.ipynb_checkpoints/metadata-analysis-checkpoint.ipynb
/outputs/not needed
outputs/repository-records/.ipynb_checkpoints/zenodo-checkpoint.json
outputs/poster-metadata/.ipynb_checkpoints/figshare-checkpoint.csv
outputs/poster-metadata/.ipynb_checkpoints/zenodo-checkpoint.csv
inputs/dataset/primary/repository-records/zenodo.json
outputs/repository-records/zenodo.json
.ipynb_checkpoints/metadata-analysis-checkpoint.ipynb
.ipynb_checkpoints/metadata-analysis-checkpoint.ipynb
.ipynb_checkpoints/metadata-analysis-checkpoint.ipynb
outputs/find-posters/datacite.json
/inputs/dataset
/.ipynb_checkpoints
/inputs/.ipynb_checkpoints
/outputs/citations/.ipynb_checkpoints
/outputs/poster-reuse/.ipynb_checkpoints
/outputs/repository-records/.ipynb_checkpoints
outputs/repository-records/zenodo.ndjson
/outputs/poster-metadata/.ipynb_checkpoints
